<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>

    <h1>Member Home Page</h1>
    <center><h2>Hi <%=userData.name%> !</h2> </center>   
    <button class="btnAction" id="logout" onclick="window.location.href = '/member/logout';">
        Logout
    </button>

    <button class="btnAction" id="add" onclick="window.location.href = 'createAd/<%=userData._id%>';">
        Create New Ad
    </button>
    <button class="btnAction" id="view" onclick="window.location.href = 'viewallads/<%=userData._id%>';">
        View My Ads
    </button>
    <button class="btnAction" id="deleteAds" onclick="window.location.href = 'deleteallads/<%=userData._id%>';">
        Delete All Ads
    </button>
    <button class="btnAction" id="deleteAccount" onclick="window.location.href = 'deleteme/<%=userData._id%>';">
        Delete My Account
    </button>
    <button class="btnAction" id="updateProfile" onclick="window.location.href = 'updateProfile/<%=userData._id%>';">
        Update Profile
    </button>
    <button class="btnAction" id="updatePassword" onclick="window.location.href = 'updatePassword/<%=userData._id%>';">
        Update Password
    </button>

</body>


<style>
    h1 {
        background: cornsilk;
        font-family: -webkit-pictograph;
        text-align: center;
        height: 50px;
        width: 100%;
    }
    h2 {
        color: beige;
        font-family: cursive;
        font-size: 30px;
    }
    a {
        color: royalblue;
        float: right;
        margin-right: 25px;
        margin-top: -56px;
        font-size: 20px;
    }
    html {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    body {
        width: 100%;
        height: 100%;
        font-family: 'Open Sans', sans-serif;
        background: steelblue;
    }
    .btnAction {
        background-color: darkgray;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 13px;
        cursor: pointer;
    }
    #add {
        background-color: brown;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 13px;
        cursor: pointer;
        font-weight: 800;
    }
    #view {
        background-color: brown;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 13px;
        cursor: pointer;
        font-weight: 800;
    }
    #deleteAds {
        background-color: brown;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 13px;
        cursor: pointer;
        font-weight: 800;
    }
    #deleteAccount {
        background-color: brown;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 13px;
        cursor: pointer;
        font-weight: 800;
    }
    #updateProfile {
        background-color:brown;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 13px;
        cursor: pointer;
        font-weight: 800;
    }
    #updatePassword {
        background-color: brown;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 13px;
        cursor: pointer;
        font-weight: 800;
    }
    #logout {
        float: right;
        margin-top: -139px;
        height: 45px;
        border-radius: 35px;
        background-color: brown;
        font-weight: 700;
    }
</style>

</html>